.fixed-top nav > a:last-of-type,
.-fixed-top nav > a:last-of-type {
    margin-right: 0.5rem;
}

nav nobr {
    margin-left: 0.5rem
}

.container section:first-child {
    margin-top: 3rem;
}

.container section:last-child {
    margin-bottom: 3rem;
}

section+section { 
    margin-top: 5rem; 
}

h2 {
    margin-bottom: 0.75rem; 
}

.m-p2 { 
    padding-top: .313rem !important; 
    padding-bottom: .313rem !important;
}

img.logo { 
    width: 1.7rem; 
    height: 1.7rem; 
    margin-right: 0.3em; 
}
.loc {
    background-image:url(../images/loc.svg); 
    background-repeat:no-repeat; 
    background-size: 2rem 5rem;
    color: #00000000;    
}
.loc:hover {
    color: #00000000;
} 
.loc.en {
    background-position-y: -2.7rem;
}

.loc.ru {
    background-position-y: -.1rem;
}

table.wide-content {
    overflow-x: auto;
}
    
@media (max-width: 768px) {
    table.wide-content {
        display: block;
    }    
}



